<h1>Last update: 16/01</h1>
<div class="team-ids-container">
  <div *ngIf="loading">
    <app-spinner [showSpinner]="loading"></app-spinner>
  </div>
    <div class="team-card-container" *ngFor="let team of teamData">
    <div class="team-card">
      <h3>{{ team.clubName }}</h3>
      <p class="ovr" >{{team.ovr}}</p>
      <!-- [ngClass]="{'green': team.ovr >= 78, 'yellow': team.ovr < 78, 'red': team.ovr <= 60}" -->
      <p class="division"><a href="https://app.metasoccer.com/home/msl/{{ team.groupId }}">{{ team.division }}</a></p>
      <p>
        <span *ngFor="let match of team.lastMatches" [ngClass]="{'win': match === 'won', 'tie': match === 'tie', 'loss': match === 'lost'}">
          {{ match | formatStreak }}
        </span>
      </p>
      <div class="stats">
        <div class="stats_top">
          <div><span>Played</span> <p>{{ team.won + team.tied + team.lost }}</p></div>
          <div><span>Won</span> <p>{{ team.won }}</p></div>
          <div><span>Tied</span> <p>{{ team.tied }}</p></div>
          <div><span>Lost</span> <p>{{ team.lost }}</p></div>
        </div>
        <div class="stats_bot">
          <div><span>GF</span> <p>{{ team.goalsForward }}</p></div>
          <div><span>GA</span> <p>{{ team.goalsAgainst }}</p></div> 
          <div><span>GD</span> <p>{{ team.goalsDifference }}</p></div>
          <div><span>Win Rate</span> <p>{{ (team.won / team.played) | percent: ':2-2' }}</p></div>
        </div>
      </div>
      <p>Position: {{ team.position }}</p>
      <p>Points: {{ team.points }}</p>
      <p class="manager">{{ team.manager.charAt(0).toUpperCase() }}</p>
    </div>
  </div>
</div>