<h1>List of players</h1>
<table class="players-table">
  <thead>
    <tr>
      <!-- <th></th> -->
      <th class="hide-on-mobile">Id</th>
      <th>Name</th>
      <th>Role</th>
      <th>OVR</th>
      <th>POT</th>
      <th>Abilities</th>
      <th class="hide-on-mobile">Foot</th>
      <th>Condition</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players | sortByRole">
      <!-- <td  class="player-img-container"><img class="player-img" src="https://assets2.metasoccer.com/file/assets2-metasoccer/players/assetsDetail/4_0_2_2_5_5_4_1_26_11_0_1_0_0_0_2_0.png"></td> -->
      <td class="hide-on-mobile">{{ player.id }}</td>
      <td><a title="{{player.fullName}}" href="https://app.metasoccer.com/assets/players/{{player.id}}"> {{ player.shortName }}</a></td>
      <td>
        <div class="role-label" [ngClass]="{'role-gk': player.role === 'Goalkeeper', 'role-df': player.role === 'Defender','role-mid': player.role === 'Midfielder','role-fw': player.role === 'Forward',}">{{ player.specificRole | specificRole}}
        </div>
      </td>
      <td>{{ player.overall }}</td>
      <td>{{ player.potential }}</td>
      <td>{{ player.specialAbilities.join(', ') }}</td>
      <td class="hide-on-mobile">{{ player.preferredFootName }}</td>
      <td>
        <div class="progress-bar-data">{{ player.condition }}</div>
        <div class="progress-bar-container">
          <div class="progress-bar" [style.width.%]="player.condition"></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>