<div class="toolbar" role="banner">
  <div>
    <img  (click)="navigationTo('')" class="clickable" width="40" alt="MetaCrew Logo" src="assets\MetaCrew.png"/>
  </div>
  <div>    
    <span class="clickable"  (click)="navigationTo('')">Meta Crew</span>
    <span class="clickable" (click)="navigationTo('trainings')">Trainings</span>

    <span class="clickable" (click)="navigationTo('players')">Players</span>
    <span class="clickable" (click)="navigationTo('scouts')">Scouts</span>
    <div class="dropdown">
      <span class="clickable">Teams</span>
      <div class="dropdown-content">
        
        <span *ngFor="let team of teams" class="clickable" (click)="navigationTo('team/' + team.id + '/')">{{team.name}}</span>
      </div>
    </div>
    <span class="clickable" (click)="navigationTo('player-pool')">Free Agents</span>

  </div>
</div>
