@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.clickable {
  cursor: pointer
}

h1{ text-align: center;}

table {
  min-width: 50%;
  border-collapse: collapse;
  margin: 2% auto;

  @media (max-width: 768px) {
    width: 95%;
    margin: 1% auto;
  }
}

@media (max-width: 768px) {
  table th,
  table td {
    padding: 0.5%;
  }
}


table {
  th {
    @apply font-medium;
  }

  td, th {
    @apply align-middle;
  }
}

button {
  &:disabled {
    @apply opacity-75 cursor-not-allowed;
  }
}

// table th {
//   font-weight: bold;
//   text-align: center;
// }


// table th,
// table td {
//   border: 1px solid rgb(28, 28, 28);
//   padding: 1%;
//   text-align: left;
// }

// th {
//   background-color: rgb(28, 28, 28);
// }

.role-label {
 color: black;
 width: fit-content;
 padding: 0px 0.3125rem;
 font-weight: 700;
}

.role-gk {
  background-color: rgb(253, 247, 100); 
}

.role-df {
  background-color: rgb(61, 114, 253);; 
}

.role-mid {
  background-color: rgb(106, 213, 106);
}

.role-fw {
  background-color: rgb(255, 100, 177);; 
}

.progress-bar-data {
  text-align: center;
  margin-bottom: 0.2rem;
}
.progress-bar-container {
  width: 100%;
  height: 0.3rem;
  border-radius: 10px;
  background-color: rgb(28, 28, 28);
}

.progress-bar {
  height: 0.3rem;
  border-radius: 10px;
  background-color: #4caf50;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}
