/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  color: #ffffff; /* Ensure text readability on black background */
}

.clickable {
  cursor: pointer
}

h1{ text-align: center;}
